<header class="w3-container w3-teal">
  <h1>Agende R&aacute;pido - Listar Locais de Consultas</h1>
</header>

<div class="w3-container w3-quarter{float:left;width:100%} w3-margin-top">
<div class="w3-container w3-card-4">


<p id="notice"><%= notice %></p>

<h1>Locais</h1>

<table class="w3-table-all">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ativo</th>
      <th>Cep</th>
      <th>Rua</th>
      <th>Numero</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th>Bairro</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locais.each do |local| %>
      <tr>
        <td class='nome'	><%= local.nome %></td>
        <td class='ativo'><%= local.ativo %></td>
        <td class='cep'><%= local.cep %></td>
        <td class='rua'><%= local.rua %></td>
        <td class='numero'><%= local.numero %></td>
        <td class='estado'><%= local.cidade.estado.nome %></td>
        <td class='cidade'><%= local.cidade.nome %></td>
        <td class='bairro'><%= local.bairro %></td>
        <td class='telefone'><%= local.telefone %></td>
        <td class='Show'><%= link_to 'Mostrar', local %></td>
        <td class='Edit'><%= link_to 'Editar', edit_local_path(local) %></td>
        <td class='Destroy'><%= link_to 'Excluir', local, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local', new_local_path %>
