<header class="w3-container w3-teal">
  <h1>Agende R&aacute;pido - Visualizar Local de Consulta</h1>
</header>

<div class="w3-container w3-half w3-margin-top">
<div class="w3-container w3-card-4">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:  </strong>
  <%= @local.nome %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @local.cep %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @local.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @local.numero %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @local.cidade.estado.nome %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @local.cidade.nome %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @local.bairro %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @local.telefone %>
</p>

<%= link_to 'Editar', edit_local_path(@local) %> |
<%= link_to 'Voltar', locais_path %>
