<p id="notice"><%= notice %></p>

<h1>Especialidades</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Ativo</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @especialidades.each do |especialidade| %>
      <tr>
        <td><%= especialidade.Nome %></td>
        <td><%= especialidade.Descricao %></td>
        <td><%= especialidade.ativo %></td>
        <td><%= link_to 'Show', especialidade %></td>
        <td><%= link_to 'Edit', edit_especialidade_path(especialidade) %></td>
        <td><%= link_to 'Destroy', especialidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Especialidade', new_especialidade_path %>
