<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Numerosus:</strong>
  <%= @usuario.numerosus %>
</p>
<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>
<p>
  <strong>Senha:</strong>
  <%= @usuario.password %>
</p>
<p>
  <strong>Cpf:</strong>
  <%= @usuario.cpf %>
</p>

<p>
  <strong>Dtanasc:</strong>
  <%= @usuario.dtanasc %>
</p>

<p>
  <strong>Telfixo:</strong>
  <%= @usuario.telfixo %>
</p>

<p>
  <strong>Telcel:</strong>
  <%= @usuario.telcel %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @usuario.sexo %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
