<p id="notice"><%= notice %></p>

<h1>Medicos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Crm</th>
      <th>Local</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Sexo</th>
      <th>Situacao</th>
      <th>Especialidades</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicos.each do |medico| %>
      <tr>
        <td><%= medico.nome %></td>
        <td><%= medico.crm %></td>
        <td><%= medico.local %></td>
        <td><%= medico.telefone %></td>
        <td><%= medico.celular %></td>
        <td><%= medico.email %></td>
        <td><%= medico.sexo %></td>
        <td><%= medico.situacao %></td>
        <td>
        <% medico.especialidades.each do | e | %>
           <%= e.Nome %>
        <% end %>
        </td>

        <td><%= link_to 'Mostrar', medico %></td>
        <td><%= link_to 'Editar', edit_medico_path(medico) %></td>
        <td><%= link_to 'Excluir', medico, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medico', new_medico_path %>
