<header class="w3-container w3-teal">
  <h1>Agende R&aacute;pido - Visualizar M&eacute;dico</h1>
</header>
<div class="w3-container w3-half w3-margin-top">
<div class="w3-container w3-card-4">


<p id="notice"><%= notice %></p>
<p>
  <strong>Nome:</strong>
  <%= @medico.nome %>
</p>

<p>
  <strong>Crm:</strong>
  <%= @medico.crm %>
</p>

<p>
  <strong>Local:</strong>
  <%= @medico.local %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @medico.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @medico.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @medico.email %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @medico.sexo %>
</p>

<p>
    <strong>Situacao:</strong>
    <%= @medico.situacao %>
</p>

<p>
    <strong>Especialidades:</strong>
    <% if @medico.especialidades != nil? %>
        <% @medico.especialidades.each do |e|  %>
            <%= e.Nome %>        
        <% end %>
    <% end  %>
</p>

<%= link_to 'Editar', edit_medico_path(@medico) %> |
<%= link_to 'Voltar', medicos_path %>
